* {
  box-sizing: border-box;
}

header {
  padding: 2%;
  background-color: #666;
  
}

header h1 {
  display: inline-block;
  width: 25%;
  color: #fff;
}

main {
  position: relative;
  padding: 2%;
}

h3 {
  color: #333;
  text-align: center;
}

.margin-top {
  margin-top: 20px;
}

.cell {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.cell:hover {
  cursor: pointer;
}

#caption {
  display: inline-block;
  width: 74%;
  min-height: 50px;
  padding: 0.625em;
  background-color: white;
  border: solid 2px black;
}

#caption p {
  font-family: monospace;
}

.playground-container {
  position: relative;
  display: inline-block;
  width: 56%;
  height: 500px;
  background-color: green;
}

.control-panel {
  position: absolute;
  top: 3.5%;
  right: 2%;
  display: inline-block;
  width: 40%;
}

.control-group {
  margin-bottom: 5%;
  padding: 2% 4% 6% 4%;
  border: 1px #999 solid;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: space-around;
}

.button-group button {
  width: 45%;
  color: #750C6E;
  background-color: #fff;
  border: 2px #750C6E solid;
}

.button-group button:hover {
  color: #fff;
  border-color: #DA2061;
}

.direction-btn-group {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 2%;
  background-color: #fff;
  border-radius: 5px;
}

.direction-btn-group button {
  width: 50px;
  margin: 2% auto;
}

.direction-btn-group button:nth-of-type(2), 
.direction-btn-group button:nth-of-type(3) {
  display: inline;
}

/*raspberry red #DA2061*/
/*bright purple #750C6E*/
button {
  display: block;
  width: 60%;
  height: 33px;
  margin: 0 auto;
  padding: 1% 4%;
  color: #fff;
  background-color: #750C6E;
  border: 1px #750C6E solid;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #DA2061; 
  border-color: #DA2061;
}

.search-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.search-container input {
  width: 70%;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 1px;
  display: inline-block;
  width: 30%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input {
  width: 100%;
  height: 33px;
}

label {
  display: block;
  margin: 20px 0 5px 0;
  font-size: 0.8em;
  color: #666;
  text-align: center;
}